* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    background-color: rgb(76, 108, 98);
    align-items: center;
    color: aliceblue;
    justify-content: space-between;
}

body {
    height: 100vh;
    background-image: url("https://plus.unsplash.com/premium_photo-1676648534971-f222b6e4912c?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav #Menu li {
    padding: 10px;
    display: inline;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.3s ease;

}

#Menu li:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.2);
}

.logo {
    margin-left: 30px;
    font-size: 1.5rem;

}

.btn-links {
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

button {
    padding: 4px 10px;
    background-color: transparent;
    color: #e1e0e0;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

i {
    font-size: 1.5rem;
    font-weight: 600;
    display: none;
}

@media only screen and (max-width: 700px) {

    h1 {
        font-size: 1.5rem;
        margin-left: 0px;
    }

    nav #Menu {
        display: none;
    }

    #Menu {
        background-color: rgb(76, 108, 98);
        width: 100%;
        display: inline;
        position: absolute;
        top: 50px;
        left: 200px;
        text-align: left;
    }
    nav #Menu li {
        display: block;
        font-size: 1.5rem;
        margin: 10px;

    }

    button {
        display: none;
    }

    i {
        display: block;
    }

    #closeIcon {
        display: none;
        font-size: 30px;
    }

}
